<%- include("./header") %> 

<h1><%= title %></h1>
<div class="card" id="messages-container" style="border: none">
    <% for( let i = 0; i < messages.length; i++ ) { %>
        <% let message = messages[i]; %>
        <div class="card-body" style="border: 2px solid black; margin-top: 5px;">
            <h5 class="card-title"><%= message.title %></h5>
            <p class="card-subtitle mb-2 text-muted">
                Author: <%= locals.currentUser && locals.currentUser.status == "Member" ? message.author.fullName : '<REDACTED>' %>
            </p>
            <p class="card-subtitle mb-2 text-muted">Posted: <%= message.createdAtFormatted %></p>
            <hr>
            <p class="card-text"><%= message.message %></p>
        </div>
    <% } %>
</div>

<%- include("./footer") %>