<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Members Only</a>
    </div>
        <ul class="nav navbar-nav">
            <li <% if (title == "Home") { %>
                <%="class=active" %> 
                <% } %>>
                <a href="/">Home</a>
            </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
            <% if (typeof locals.currentUser === "undefined") { %>
                <li <% if (title == "Sign-Up") { %>
                    <%="class=active" %>
                    <% } %>>
                    <a href="/sign-up">Sign Up</a>
                </li>
                <li <% if (title == "Login") { %>
                    <%="class=active" %>
                    <% } %>>
                    <a href="/login">Login</a>
                </li>
            <% } else { %>
                <% if (locals.currentUser.status != "Member") { %>
                    <li <% if (title == "Join Club") { %>
                        <%="class=active" %>
                        <% } %>>
                        <a href="/join-club">Join Club</a>
                    </li>
                <% } %>
          
                <li <% if (title == "Logout") { %>
                    <%="class=active" %>
                    <% } %>>
                    <a href="/logout">Logout</a>
                </li>
        <% } %>

        
      </ul>
        
    </div>
</nav>
